.action-btn {
    background-color: #fff; 
    border: 0; 
    color: #dfdbdf;
    font-size: 20px; 
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;

    &-big {
        color: #cdc2d0; 
        font-size: 30px;  
    }

    &:focus {
        outline: 0; 
    }
}

