.music-container {
    background-color: #fff;
    border-radius: 15px; 
    box-shadow: 0 20px 20px 0 rgba(252, 168, 169, 0.6);
    display: flex; 
    padding: 20px 30px;
    position: relative; 
    margin: 100px 0; 
    z-index: 10;
}